body {
    background-color: #ffb3b3;
    margin: 0;
    padding: 0;
}

.text-center {
    text-align: center;
}

.textbox {
    width: 70%;
    display: block;
    margin: 20px auto;
    min-height: 100px;
    padding: 10px;
    border-radius: 8px;
}

.btn-container {
    flex-wrap: wrap;
    margin: 20px auto;
    display: flex;
    justify-content: space-evenly;
}

.action-btns , .clear-btn{
    width: 150px;
    padding: 12px 15px;
    margin: 10px 15px;
    font-size: 14px;
    border-radius: 30px;
    border: none;
    background-color: #ff0000;
    color: white;
    box-shadow: 3px 3px 3px black;
    cursor: pointer;
}

.action-btns:hover , .clear-btn:hover{
    background-color: #ff4d4d;
    transition: 0.5s;
    box-shadow: none;
    cursor: pointer;
}


@media screen and(max-width: 500px) {
    .btn-container {
        justify-content: center;
    }

}