body {
    background-color: #ffb3b3;
    margin: 0;
    padding: 0;
}

.text-center {
    text-align: center;
}

.textbox{
    width: 70%;
    display: block;
    margin: 20px auto;
    min-height: 100px;
    padding: 10px;
    border-radius: 8px;
}

